<div class="jumbotron">
  <div class="container">
    <h1>Giuseppe Modarelli</h1>
    <p>I am a Backend Engineer at <a href="http://wooga.com">Wooga</a>. I love writing Ruby, Elixir and sometimes even Erlang code.<br>
    You can read my thoughts about programming here and you can follow me on Twitter at <a href="http://twitter.com/gmodarelli">@gmodarelli</a>.</p>
  </div>
</div>
