<!doctype html>
<html>
  <head>
    <title>Giuseppe Modarelli</title>
    <link rel="stylesheet" href="/github-markdown-css/github-markdown.css">
    <link rel="stylesheet" href="/node_modules/highlight.js/styles/github.css">
    <style>
      .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
      }
    </style>
  </head>
  <body>
    <article class="markdown-body">
      <h1><%= title %></h1>

      <%- body %>
    </article>
  </body>
</html>

